In [1]:
import numpy as np
import pandas as pd
import json
import gzip

In [2]:
path_music='./Data/Digital_Music.json.gz'

# Open the compressed file using gzip and read JSON content
with gzip.open(path_music, 'rt', encoding='utf-8') as file:
    # Use pd.read_json to parse the JSON content into a DataFrame
    music = pd.read_json(file, lines=True)

In [3]:
# Specify the path to your compressed JSON file
path_meta = './Data/meta_Digital_Music.json.gz'

# Open the compressed file using gzip and read JSON content
with gzip.open(path_meta, 'rt', encoding='utf-8') as file:
    # Use pd.read_json to parse the JSON content into a DataFrame
    meta = pd.read_json(file, lines=True)

In [4]:
df_meta=pd.DataFrame(meta)

In [5]:
df_meta.shape

(74347, 19)

In [6]:
df_music=pd.DataFrame(music)

In [7]:
df_music.shape

(1584082, 12)

Merge the style from music to meta data

In [47]:

# Define a function to extract the 'Format:' value from a dictionary
def extract_format(style_dict):
    if isinstance(style_dict, dict):
        return style_dict.get('Format:', 'Unknown')
    else:
        return 'Unknown'

# Extract the value corresponding to 'Format:' from the 'style' column of df_music
df_meta['style'] = df_music['style'].apply(extract_format)

In [57]:
columns=['imageURL', 'main_cat','category' , 'imageURLHighRes' , 'rank' , 'also_buy' , 'feature' , 'tech2', 'tech1' , 'also_view', 'similar_item', 'date' , 'details' ,'fit' , 'price']

In [58]:
df_meta_2=df_meta.drop(columns , axis=1)

Reviews of music

In [13]:
music.columns

Index(['overall', 'verified', 'reviewTime', 'reviewerID', 'asin', 'style',
       'reviewerName', 'reviewText', 'summary', 'unixReviewTime', 'vote',
       'image'],
      dtype='object')

In [14]:
columns_music=['verified' , 'reviewTime' , 'verified' , 'reviewTime' , 'unixReviewTime' ,'vote','image' ,'style','summary','reviewerName']

In [15]:
music_2=music.drop(columns_music , axis=1)

In [16]:
music_2

,overall,reviewerID,asin,reviewText
0,5,A1ZCPG3D3HGRSS,0001388703,This is a great cd full of worship favorites!!...
1,5,AC2PL52NKPL29,0001388703,"So creative! Love his music - the words, the ..."
2,5,A1SUZXBDZSDQ3A,0001388703,"Keith Green, gone far to early in his carreer,..."
3,5,A3A0W7FZXM0IZW,0001388703,Keith Green had his special comedy style of Ch...
4,5,A12R54MKO17TW0,0001388703,Keith Green / So you wanna go back to Egypt......
...,...,...,...,...
1584077,5,AR3KABMPL5L0O,B01HJ91P94,Casting Crowns....you do it so well! Awesome s...
1584078,4,A2N53GHW73INDH,B01HJ91P94,This band has produced many inspiring Christia...
1584079,5,ABNKLDCCVJKW1,B01HJ91P94,Awesome band and awesome song. This is my next...
1584080,5,AMWSDABZWFRAT,B01HJ91IVY,Excellent
1584081,5,A7K5263R5OUIP,B01HJ91IVY,This is a moving song. I used it on Easter mor...

In [17]:
music_2.dropna(inplace=True)

In [18]:
music_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1582629 entries, 0 to 1584081
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   overall     1582629 non-null  int64
 1   reviewerID  1582629 non-null  object
 2   asin        1582629 non-null  object
 3   reviewText  1582629 non-null  object
dtypes: int64(1), object(3)
memory usage: 60.4+ MB

In [19]:
asin_list=df_meta_2['asin'].tolist()

In [20]:
music_2.drop_duplicates(inplace=True)

In [21]:
music_2.isna().sum()

overall       0
reviewerID    0
asin          0
reviewText    0
dtype: int64

In [22]:
music_2.to_csv('./Data/music_review.csv')

In [23]:
music_2

,overall,reviewerID,asin,reviewText
0,5,A1ZCPG3D3HGRSS,0001388703,This is a great cd full of worship favorites!!...
1,5,AC2PL52NKPL29,0001388703,"So creative! Love his music - the words, the ..."
2,5,A1SUZXBDZSDQ3A,0001388703,"Keith Green, gone far to early in his carreer,..."
3,5,A3A0W7FZXM0IZW,0001388703,Keith Green had his special comedy style of Ch...
4,5,A12R54MKO17TW0,0001388703,Keith Green / So you wanna go back to Egypt......
...,...,...,...,...
1584077,5,AR3KABMPL5L0O,B01HJ91P94,Casting Crowns....you do it so well! Awesome s...
1584078,4,A2N53GHW73INDH,B01HJ91P94,This band has produced many inspiring Christia...
1584079,5,ABNKLDCCVJKW1,B01HJ91P94,Awesome band and awesome song. This is my next...
1584080,5,AMWSDABZWFRAT,B01HJ91IVY,Excellent
1584081,5,A7K5263R5OUIP,B01HJ91IVY,This is a moving song. I used it on Easter mor...

meta_data

In [61]:
df_meta_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74347 entries, 0 to 74346
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  74347 non-null  object
 1   title        74347 non-null  object
 2   brand        74347 non-null  object
 3   asin         74347 non-null  object
 4   style        74347 non-null  object
dtypes: object(5)
memory usage: 2.8+ MB

In [62]:
df_meta_2.to_csv('./Data/music_meta.csv')