In [1]:
import numpy as np
import pandas as pd
import json
import gzip

In [2]:
path_music='./Data/Digital_Music.json.gz'

# Open the compressed file using gzip and read JSON content
with gzip.open(path_music, 'rt', encoding='utf-8') as file:
    # Use pd.read_json to parse the JSON content into a DataFrame
    music = pd.read_json(file, lines=True)

In [3]:
# Specify the path to your compressed JSON file
path_meta = './Data/meta_Digital_Music.json.gz'

# Open the compressed file using gzip and read JSON content
with gzip.open(path_meta, 'rt', encoding='utf-8') as file:
    # Use pd.read_json to parse the JSON content into a DataFrame
    meta = pd.read_json(file, lines=True)

In [4]:
df_meta=pd.DataFrame(meta)

In [5]:
df_meta.shape

(74347, 19)

In [6]:
df_music=pd.DataFrame(music)

In [7]:
df_music.shape

(1584082, 12)

Meta data

In [8]:
df_music.head(2)

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,5,True,"12 22, 2013",A1ZCPG3D3HGRSS,0001388703,{'Format:': ' Audio CD'},mark l. massey,This is a great cd full of worship favorites!!...,Great worship cd,1387670400,NaN,NaN
1,5,True,"09 11, 2013",AC2PL52NKPL29,0001388703,{'Format:': ' Audio CD'},Norma Mushen,"So creative! Love his music - the words, the ...",Gotta listen to this!,1378857600,NaN,NaN

In [9]:
df_meta.columns

Index(['category', 'tech1', 'description', 'fit', 'title', 'also_buy', 'tech2',
       'brand', 'feature', 'rank', 'also_view', 'main_cat', 'similar_item',
       'date', 'price', 'asin', 'imageURL', 'imageURLHighRes', 'details'],
      dtype='object')

In [10]:
columns=['imageURL', 'category' , 'imageURLHighRes' , 'rank' , 'also_buy' , 'feature' , 'tech2', 'tech1' , 'similar_item', 'date' , 'details' ,'fit' , 'price']

In [11]:
df_meta_2=df_meta.drop(columns , axis=1)

In [12]:
df_meta_2.head()

,description,title,brand,also_view,main_cat,asin
0,[],Master Collection Volume One,John Michael Talbot,"[B000002UEN, B000008LD5, 7474034352, B000008LD...","<img src=""https://images-na.ssl-images-amazon....",0001377647
1,[],Hymns Collection: Hymns 1 &amp; 2,Second Chapter of Acts,"[B000008KJ3, B000008KJ0, 5558154950, B000UN8KZ...","<img src=""https://images-na.ssl-images-amazon....",0001529145
2,[],Early Works - Don Francisco,Don Francisco,"[B003H8F4NA, B003ZFVHPO, B003JMP1ZK, B00004RC0...","<img src=""https://images-na.ssl-images-amazon....",0001527134
3,[],So You Wanna Go Back to Egypt,Keith Green,"[B00000I7JO, B0016CP2GS, 0001393774, B0000275Q...","<img src=""https://images-na.ssl-images-amazon....",0001388703
4,[1. Losing Game 2. I Can't Wait 3. Didn't He S...,Early Works - Dallas Holm,Dallas Holm,"[B0002N4JP2, 0760131694, B00150K8JC, B003MTXNV...","<img src=""https://images-na.ssl-images-amazon....",0001526146

Reviews of music

In [13]:
music.columns

Index(['overall', 'verified', 'reviewTime', 'reviewerID', 'asin', 'style',
       'reviewerName', 'reviewText', 'summary', 'unixReviewTime', 'vote',
       'image'],
      dtype='object')

In [23]:
columns_music=['verified' , 'reviewTime' , 'verified' , 'reviewTime' , 'unixReviewTime' ,'vote','image' ,'style','summary','reviewerName']

In [24]:
music_2=music.drop(columns_music , axis=1)

In [25]:
music_2

,overall,reviewerID,asin,reviewText
0,5,A1ZCPG3D3HGRSS,0001388703,This is a great cd full of worship favorites!!...
1,5,AC2PL52NKPL29,0001388703,"So creative! Love his music - the words, the ..."
2,5,A1SUZXBDZSDQ3A,0001388703,"Keith Green, gone far to early in his carreer,..."
3,5,A3A0W7FZXM0IZW,0001388703,Keith Green had his special comedy style of Ch...
4,5,A12R54MKO17TW0,0001388703,Keith Green / So you wanna go back to Egypt......
...,...,...,...,...
1584077,5,AR3KABMPL5L0O,B01HJ91P94,Casting Crowns....you do it so well! Awesome s...
1584078,4,A2N53GHW73INDH,B01HJ91P94,This band has produced many inspiring Christia...
1584079,5,ABNKLDCCVJKW1,B01HJ91P94,Awesome band and awesome song. This is my next...
1584080,5,AMWSDABZWFRAT,B01HJ91IVY,Excellent
1584081,5,A7K5263R5OUIP,B01HJ91IVY,This is a moving song. I used it on Easter mor...

In [27]:
music_2.dropna(inplace=True)

In [28]:
music_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1582629 entries, 0 to 1584081
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   overall     1582629 non-null  int64
 1   reviewerID  1582629 non-null  object
 2   asin        1582629 non-null  object
 3   reviewText  1582629 non-null  object
dtypes: int64(1), object(3)
memory usage: 60.4+ MB

In [32]:
asin_list=df_meta_2['asin'].tolist()

In [30]:
music_2.drop_duplicates(inplace=True)

In [41]:
music_2.isna().sum()

overall       0
reviewerID    0
asin          0
reviewText    0
dtype: int64

In [40]:
music_2.to_csv('./Data/music_review.csv')

In [42]:
music_2

,overall,reviewerID,asin,reviewText
0,5,A1ZCPG3D3HGRSS,0001388703,This is a great cd full of worship favorites!!...
1,5,AC2PL52NKPL29,0001388703,"So creative! Love his music - the words, the ..."
2,5,A1SUZXBDZSDQ3A,0001388703,"Keith Green, gone far to early in his carreer,..."
3,5,A3A0W7FZXM0IZW,0001388703,Keith Green had his special comedy style of Ch...
4,5,A12R54MKO17TW0,0001388703,Keith Green / So you wanna go back to Egypt......
...,...,...,...,...
1584077,5,AR3KABMPL5L0O,B01HJ91P94,Casting Crowns....you do it so well! Awesome s...
1584078,4,A2N53GHW73INDH,B01HJ91P94,This band has produced many inspiring Christia...
1584079,5,ABNKLDCCVJKW1,B01HJ91P94,Awesome band and awesome song. This is my next...
1584080,5,AMWSDABZWFRAT,B01HJ91IVY,Excellent
1584081,5,A7K5263R5OUIP,B01HJ91IVY,This is a moving song. I used it on Easter mor...